doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Poiret+One|Englebert|Syncopate')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block header
      div#logo
        a(href='/')
          img(src='/images/logo.png')
    block content