body {
  padding: 50px;
  color:#333333;
  font-family: 'Poiret One', cursive;
  text-align:center;
  font-size:1.5em;
}

a {
  color: #00B7FF;
}

h1 {
	font-size:4em;
}


li {
	list-style: none;
	font-size:2em;
}

span.name {
	display: inline-block;
	width: 5em;
	float: left;
}

span.party {
	display: inline-block;
	width: 5em;
	margin-left: 2em;
}

span.time {
	display: inline-block;
	width: 5em;
	margin-left: 2em;
}

#logo img {
	width: 500px;
}